Language: Cpp
BasedOnStyle: Microsoft
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: true
AlignConsecutiveDeclarations: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse